{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
    <div class="container">
        <div class="heading">
            {% if result_title %}
                <h2>{{result_title}}</h2>
            {% else %}
                <h2>Danh sách đang bán</h2>
            {% endif %}
        </div>
        <div class="list">
            {% for list in listings %}
                <div class="list-item">
                    <div class="left">
                        <center>
                            <a href="{% url 'listing' list.id %}">
                                <img src="{% static list.image %}">
                            </a>
                        </center>
                    </div>
                    <div class="right">
                        <div class="right-top">
                            <a href="{% url 'listing' list.id %}">
                                <h5>{{list.title}}</h5>
                            </a>
                        </div>
                        <div class="right-bottom">
                            <div class="right-bottom-left">
                                <small>ID: {{list.id}}</small><br>
                                Giá: &nbsp;<span class="price">{{list.current_bid}} VND</span><br>
                                <small style="line-height: 1em;"><p>{{list.description}}</p></small>
                                <span class="create-time">Ngày tạo: {{list.create_time}}</span><br>
                            </div>
                            <div class="right-bottom-right">
                                {% if list.status == "sold"%}
                                    <img src="{% static 'auctions/Images/sold.png' %}">
                                {% elif list.status == "unsold" %}
                                    <img src="{% static 'auctions/Images/unsold.png' %}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if result_title == "Watchlist" %}
                        <div class="far-right_watchlist">
                            <form action="{% url 'remove_watchlist' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{list.id}}">
                                <input type="hidden" name="origin" value="watchlist">
                                <button type="submit" class="hid-btn">
                                    <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </div>
                <hr>
            {% empty %}
                {% if result_title == "Watchlist" %}
                    <center>
                        <br>
                        <h4>Chưa có vật phẩm trong danh sách.</h4>
                        Bắt đêm thêm vật phẩm ngay bây giờ!
                    </center>
                {% elif result_title == "My Listings" %}
                    <center>
                        <br>
                        <h4>Chưa có bất kì vật phẩm nào đang bày bán.</h4>
                        <a href="{% url 'create' %}">Khởi tạo</a>
                    </center>
                {% else %}
                    <center>
                        <br>
                        <h4>Xin lỗi, không có kết quả tìm được!</h4>
                        Vui lòng kiểm tra lại chính tả hoặc thử tìm từ khóa khác!
                    </center>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}