{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="logo left-nav">
                <a href="{% url 'index' %}">
                    <img src="{% static 'auctions/images/auction_logo.png' %}" height="52px" width="250px">
                </a>
            </div>
            <div class="right-nav">
                <form action="{% url 'search' %}" method="GET">
                    <input type="text" name="query" placeholder="Tìm kiếm vật phẩm..." value="{{query | default:''}}" required="required">
                    <input type="submit" value="Tìm kiếm" class="btn search-btn Button">
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="menu">
            <div class="left-menu">
                <div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Danh sách đang bán</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'categories' %}">Thể loại</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create' %}">Tạo danh sách</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'watchlist' %}">Đang theo dõi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'my_listing' %}">Đang đăng </a>
                            </li>
                        {% else %}
                            
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="right-menu nav">
                
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">
                            Tài khoản: <strong>{{ user.username }}</strong>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Thoát</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Đăng ký</a>
                    </li>
                {% endif %}
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
